<html>
<body>
  <div>
    123
  </div>
  <div>

    <component type="typeof(RazorClassLibrary3.Components.C1)" render-mode="Server" param-Dexc="@("in view")" />
    <component type="typeof(RazorClassLibrary3.Components.C2)" render-mode="Server" param-Dexc="@("in view c2")" />
  </div>
  <div>
    111
  </div>

</body>

</html>

