<h3>C1 @count</h3>


@code {
  public int count { get; set; }
  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await base.OnAfterRenderAsync(firstRender);
  }
  protected override async Task OnInitializedAsync()
  {
    ReFresh();
  }

  private async Task ReFresh()
  {
    while (true)
    {
      await Task.Delay(1000);
      count = count + 1;
      this.StateHasChanged();
    }
  }
}